<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>订单信息</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">

    <link rel="stylesheet" href="/_api/css/CSS.css?0" type="text/css"/>
    <link rel="stylesheet" href="/_api/css/swiper.min.css" type="text/css"/>
    <link rel="stylesheet" href="/_api/css/iconfont.css">
    <script type="text/javascript" src="/_api/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/_api/js/swiper.min.js"></script>
    <script type="text/javascript" src="/_api/js/hsf/ordershow.js"></script>
</head>


<body>
<div class="ordershow">
    <input type="hidden" id="releaseId" th:value="${order.userRelease.id}"/>

    <input type="hidden" id="id" th:value="${order.id}"/>

    <input type="hidden" id="sfId" th:value="${order.sfId}"/>
    <ul>
        <li><label>雇佣标题：</label>[[${order.userRelease.title}]]</li>
        <li><label>发布时间：</label>[[${#dates.format(order.createTime, 'yyyy-MM-dd')}]]</li>
        <li><label>业主姓名：</label>[[${order.userRelease.nickName}]]</li>
        <li>
            <label>联系方式：</label><a href="tel:18657463227">[[${order.userRelease.phone}]] <span><i class="iconfont icon-mobilephone"></i>拨打电话</span></a>
        </li>
        <li>
            <label>服务地址：</label>浙江省宁波市鄞州区诚信路955号九五九电商园B幢202室<a href="#"><span><i class="iconfont icon-coordinates"></i>地图导航</span></a>
        </li>
        <li><label>预约时间：</label>[[${#dates.format(order.userRelease.createDate, 'yyyy-MM-dd')}]]</li>
        <li><label>备注信息：</label>[[${order.userRelease.demand}]]</li>
    </ul>
</div>
<!-- 师傅 -->
<div class="orderstate" th:if="${user.detailId ne 0 && user.userDetail.status == 1}">
    <label th:if="${order.statusId == 1}"><input type="button" name="" onclick="receiving()" class="btn_sbt br3" value="接单"></label>
    <label th:if="${order.statusId == 1}"><input type="button" name="" onclick="jujue()" class="btn_sbt br3 red" value="拒单"></label>
    <label th:if="${order.statusId == 3}"><input type="button" name="" class="btn_sbt br3 gray" value="已拒单" disabled="disabled"></label>
    <label th:if="${order.statusId == 5}"><input type="button" name="" class="btn_sbt br3 gray" value="已取消" disabled="disabled"></label>
    <label th:if="${order.statusId == 2}"><input type="button" name="" class="btn_sbt br3" value="服务进行中"></label>
    <label th:if="${order.statusId == 2}"><input type="button" name="" onclick="callOff()" class="btn_sbt br3 red" value="取消订单"></label>
    <label th:if="${order.statusId == 2}"><input type="button" name="" onclick="comple()"  class="btn_sbt br3 blue" value="申请完工"></label>
    <label th:if="${order.statusId == 7}"><input type="button" name="" class="btn_sbt br3" value="服务进行中"></label>
    <label th:if="${order.statusId == 7}"><input type="button" name="" class="btn_sbt br3 blue" value="已申请完工"></label>
</div>

<div class="orderstate" th:if="${order.statusId == 6}">
    <label><input type="button" name="" class="btn_sbt br3 blue" value="已完工"></label>
</div>


<div class="orderstate" th:if="${user.detailId eq 0}">
    <label th:if="${order.statusId == 3}"><input type="button" name="" class="btn_sbt br3 gray" value="已拒单" disabled="disabled"></label>
    <label th:if="${order.statusId == 5}"><input type="button" name="" class="btn_sbt br3 gray" value="已取消" disabled="disabled"></label>
    <label th:if="${order.statusId == 2}"><input type="button" name="" class="btn_sbt br3" value="服务进行中"></label>
    <label th:if="${order.statusId == 7}"><input type="button" name="" class="btn_sbt br3" value="服务进行中"></label>
    <label th:if="${order.statusId == 7}"><input type="button" name=""  class="btn_sbt br3 blue" value="评论"></label>
</div>

<div class="clear1"></div>

</body>
</html>
