<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>接单中心</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="/_api/css/CSS.css?0" type="text/css"/>
    <link rel="stylesheet" href="/_api/css/swiper.min.css" type="text/css"/>
    <link rel="stylesheet" href="/_api/css/iconfont.css">
    <script type="text/javascript" src="/_api/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/_api/js/swiper.min.js"></script>
    <style>
        .state_1{background-color: limegreen;}
        .state_2{background-color: yellowgreen;}
        .state_3{background-color: red;}
        .state_4{background-color: limegreen;}
        .state_5{background-color: gray;}
        .state_6{background-color: dodgerblue;}
        .state_7{background-color: dodgerblue;}

    </style>
    <script type="text/javascript">
        window.onload = function() {
            var url = window.location.href;
            var ps = url.split("#");
            try {
                if (ps[1] != 1) {
                    url += "#1";
                } else {
                    window.location = ps[0];
                }
            } catch (ex) {
                url += "#1";
            }
            window.location.replace(url);
        }
    </script>
</head>
<body>
<div class="orderlist">
    <button type="button" class="btn_sbt br3" onclick="javascript:location.href= '/_api/goOrderList';">接单中心</button>
    <button type="button" class="btn_sbt br3 gray" onclick="javascript:location.href= '/_api/goSfYuYue';">订单中心</button>
    <ul>
        <!-- order.id=派单表的主键 -->
        <a th:each="order : ${list}" th:href="@{/goOrderShow(id=${order.id})}">
            <li>[[${order.userRelease.title}]]
                <p><label>[[${#dates.format(order.createTime, 'yyyy-MM-dd')}]]</label><span th:class="state_+${order.statusId}">[[${order.status.statusName}]]</span>
                </p>
            </li>
        </a>
    </ul>
    <ul>
        <!-- order.id = release表中的主键 -->
        <a th:each="order : ${orders}" th:href="@{/goUserOrderDetail(id=${order.id})}">
            <li>[[${order.title}]]
                <p><label>[[${#dates.format(order.createDate, 'yyyy-MM-dd')}]]</label><span th:class="state_+${order.state}">[[${order.state == 1 ? '接单中' : order.state == 2 ? '已接单' : '预约失败'}]]</span>
                </p>
            </li>
        </a>
    </ul>
</div>
<div class="clear1"></div>

</body>
</html>
