<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>手机绑定</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="/_api/css/CSS.css?0" type="text/css"/>
    <link rel="stylesheet" href="/_api/css/swiper.min.css" type="text/css"/>
    <link rel="stylesheet" href="/_api/css/iconfont.css">
    <script type="text/javascript" src="/_api/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/_api/js/swiper.min.js"></script>
    <script type="text/javascript" src="/_api/js/common/util.js"></script>

</head>

<body>
<script>
    $(function () {
        $.ajaxSettings.async = false;
        $.getJSON("/_api/getPhone",function (res) {
            if (res.message == null || phone == '' || phone == undefined) {
                $("#editPhone").hide();
            } else {
                $("#xianPhone").html(res.message);
                $("#myform").hide();
            }
        });
        $.ajaxSettings.async = true;
    });

</script>
<form action="" method="post" name="myform" id="myform">
    <div class="frm_passport">
        <ul>
            <li class="temp" style="color:#ff0000; font-size:16px; border:0; height:50px; line-height:50px;"></li>
            <li><label>手机号：</label>
                <input type="tel" name="phone" id="phone" class="input_txt" placeholder="请输入绑定的手机号" value="">
                <input type="button" class="btn_getyzm br3 active" id="send" value="获取验证码" onclick="sendMessage()" data-type="1">
            </li>
            <li><label>验证码：</label><input type="tel" name="yzm" id="yzm" class="input_txt" value=""
                                          placeholder="请填写手机验证码"
                                          maxlength="6"></li>
            <li>
                <input type="button" onclick="bind()" name="btn_sbt" id="btn_sbt" class="btn_sbt br3" style="margin-top:20px;" value="提交">
<!--                <input type="button" onclick="bind()" class="btn_sbt br3" value="绑定">-->
            </li>
        </ul>
    </div>
</form>

<div class="phoneOK" id="editPhone">
    <p><i class="iconfont icon-mobilephone"></i><span id="xianPhone"></span></p>
    <p><input type="button" onclick="bindPhone()"class="btn_sbt br3" value="更换手机绑定"></p>
</div>

<script>
    var bindCount = 0;
    function bindPhone() {
        $("#editPhone").hide();
        $("#myform").show();
    }
    function bind() {
        alert("xx");
        var message = $("#yzm").val();
        var phone = $("#phone").val();
        $.ajaxSettings.async = false;
        if (bindCount < 3) {
            $.getJSON("/_api/isExist", {"phone": phone}, function (data) {
                if (data){
                    alert("该手机号已绑定账号，请更换手机号");
                } else {
                    $.getJSON("/_api/isCode", {"phone": phone, "code": message}, function (res) {
                        if (res.flag) {
                            $.getJSON("/_api/editUser", {"phone": phone}, function (data) {
                                bindCount = 0;
                                location.href = "/_api/goIndex";
                            });
                            return true;
                        } else {
                            bindCount++;
                            $("#temp").html("验证码不正确");
                            return false;
                        }
                    });
                }
            });
        } else {
            alert("多次输入不正确请重新获取");
        }
        $.ajaxSettings.async = true;
    }
</script>

</body>
</html>
