<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>发布动态</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="/_api/css/CSS.css" type="text/css"/>
    <link rel="stylesheet" href="/_api/css/swiper.min.css" type="text/css"/>
    <link rel="stylesheet" href="/_api/css/iconfont.css">
    <script type="text/javascript" src="/_api/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/_api/js/swiper.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        var imgs;
        $(document).ready(function () {
            var url = location.href.split('#')[0];
            $.getJSON("/_api/getImage", {"path": url}, function (data) {
                wx.config({
                    debug: false, // 因为在手机上测试没法打印，当debug为true时，所有的返回值都会在手机上alert出来
                    appId: "wx8bf85bd98eaddb86", // 必填，公众号唯一标识
                    timestamp: data.timestamp, // 必填，生成签名的时间戳
                    nonceStr: data.nonceStr, // 必填，生成签名的随机串
                    signature: data.signature,// 必填，签名
                    jsApiList: ['chooseImage', 'uploadImage'] // 必填，需要使用的JS接口列表，需要用到什么接口就去开发者文档查看相应的字段名
                });
            })
        });
        //定义images用来保存选择的本地图片ID，和上传后的服务器图片ID
        wx.ready(function () {
            $("#btn_upload").click(function () {
                if ($("#imgs").val() == ''){
                    imgs = new Array();
                } else{
                    imgs = $("#imgs").val().split(",");
                }
                wx.chooseImage({
                    count: 9, // 最多可以选择的图片张数，默认9
                    sizeType: ['original', 'compressed'], // original 原图，compressed 压缩图，默认二者都有
                    sourceType: ['album', 'camera'], // album 从相册选图，camera 使用相机，默认二者都有
                    success: function (res) {
                        var localIds = res.localIds; // 返回选定照片的本地ID列表（手机上操作就是手机端的ID列表，是一个数组），localId可以作为img标签的src属性显示图片
                        for (var i = 0; i < localIds.length; i++) {
                            wx.uploadImage({
                                localId: localIds[i], // 需要上传的图片的本地ID，由chooseImage接口获得
                                isShowProgressTips: 0, // 默认为1，显示进度提示
                                success: function (res) {
                                    //将上传成功后的serverId保存到serverId
                                    serverIds = res.serverId;
                                    $.getJSON("/_api/saveImage", {"url": serverIds}, function (res) {
                                        if (res.flag) {
                                            if (res.message != null && res.message != ''){
                                                $("#imgs_pre").append("<li><img src=\"" + res.message + "\">\n" +
                                                    "                <span class=\"br50\" onclick='del_img(this)' >X</span></li>");
                                                imgs.push(res.message);
                                                $("#imgs").val(imgs.join());
                                            }
                                        } else {
                                            alert("获取图片失败");
                                        }
                                    });
                                }
                            });
                        }
                    },
                    fail: function () {
                        alert("失败");
                    },
                    complete: function () {
                        // alert("完成")
                    }
                });
            })
        });

        function del_img(imgbtn) {
            imgs.splice(jQuery.inArray($(imgbtn).prev().attr("src"), imgs), 1);
            $(imgbtn).parent().remove();
        }
        
        function checkData() {
            var content = $("#textarea").val();
            var imgs = $("#imgs_pre").html();
            alert("CONTENT : " + content + "    IMGS : " + imgs);
            if (content == null || content.trim() == ''
                || imgs == null || imgs == ''){
                alert("发布内容不能为空");
                return false;
            }
            return true;
        }

    </script>

</head>

<body>
<form action="/_api/insInformation" method="post" onsubmit="return checkData()">
    <input type="hidden" id="imgs" name="images"/>
    <section class="dt_form">
        <div class="clear1"></div>
        <div><textarea name="content" id="textarea" class="area_txt" value="" placeholder="这一刻的想法…"></textarea></div>
        <div class="dt_img">
            <ul>
                <section id="imgs_pre">

                </section>
                <li><a href="javascipt:void(0);" id="btn_upload">+</a></li>
            </ul>
        </div>
        <div class="clear1"></div>
        <div><input type="submit" id="btn_bd_mobile" class="btn_sbt br3" value="立即发布"></div>
    </section>
</form>

<p>&nbsp;</p>
<p>&nbsp;</p>

</body>
</html>
