<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>师傅入驻申请</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="/_api/css/CSS.css" type="text/css"/>
    <link rel="stylesheet" href="/_api/css/swiper.min.css" type="text/css"/>
    <link rel="stylesheet" href="/_api/css/iconfont.css">
    <script type="text/javascript" src="/_api/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/_api/js/swiper.min.js"></script>
</head>

<body>

<div class="myinfoform">

    <span>总工友数  :  [[${len}]]</span>

    <p th:each="work:${list}">
        <span th:if="${work.detailId != 0 && work.userDetail.status == 1}">
            <img th:width="50px" th:height="50px" th:src="${work.headPic}">
            <span>[[${work.userDetail.name}]]</span>
            <span>[[${work.phone}]]</span>
        </span>
    </p>
</div>

</body>
</html>
