<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>[[${userDetail.name}]]师傅</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="/_api/css/CSS.css" type="text/css"/>
    <link rel="stylesheet" href="/_api/css/swiper.min.css" type="text/css"/>
    <link rel="stylesheet" href="/_api/css/iconfont.css">
    <script type="text/javascript" src="/_api/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/_api/js/swiper.min.js"></script>
</head>
<script type="text/javascript">
    function goList(btn) {
        var skill = $(btn).attr("skill");
        alert(skill);
        location.href = "/_api/goSFList?skills=" + skill;
    }

    function delInfo(id) {
        if (window.confirm("确定要删除吗")) {
            location.href = "/_api/delDynamic?id=" + id
        }
    }
</script>
<body>
<div class="sf_info">
    <p class="headimg"><img src="images/headimg.jpg" th:src="${user.headPic}" class="br50"></p>
    <p class="sfname" th:text="${userDetail.name}"></p>
    <p>
        <label th:if="${userDetail.lineStatus == 1}"><i class="iconfont icon-time"></i> 正在接单</label>
        <label th:if="${userDetail.lineStatus == 0}"><i class="iconfont icon-time"></i> 已停止接单</label>
        <label id="area"><i class="iconfont icon-coordinates"></i></label>
        <label><i class="iconfont icon-success"></i> 实名认证</label>
    </p>
</div>

<div class="clear1"></div>

<div class="jbxx">
    <p th:text="'从业年限：' + ${userDetail.userYearWork.yearName}"></p>
    <p>专业特长：<a th:each="skill : ${skills}" href="javascript:void(0);"><label th:attr="skill=${skill.id}"
                                                                             onclick="goList(this)">[[${skill.skillName}]]</label></a>
    </p>
    <input type="hidden" id="address"
           th:value="${userDetail.placeProvince}+','+${userDetail.placeCity}+','+${userDetail.placeArea}+','+${userDetail.address}"/>
    <p id="address2">所在位置：</p>
    <p>手机号码：<a href="tel:18657463227"><label>[[${user.phone}]]</label></a></p>
</div>
<div class="clear1"></div>
<div class="gybtn" th:if="${flag == '1'}"><a href="/_api/goMyDynamic">发布动态</a></div>
<div class="gybtn" th:if="${flag == '2'}"><a href="">直接雇佣TA</a></div>

<div class="clear1"></div>
<div class="dttitle">[[${userDetail.name}]]的动态</div>

<div th:each="info : ${infos}">
    <div class="tdshow">
        <p><em><img src="images/headimg.jpg" width=30 height=30 class="br50"></em><label>[[${#dates.format(info.createDate,
            'yyyy年MM月dd日')}]]</label><span
                th:if="${flag eq '1'}"><a th:onclick="'javascript:delInfo(\''+${info.id}+'\')'" href="javascript:void(0);">删除</a></span></p>
        <p th:text="${info.content}"></p>
        <div class="dt_img">
            <ul>
                <li th:each="infoimg : ${info.images.split(',')}"><img th:src="${infoimg}"></li>
            </ul>
        </div>
    </div>
    <div class="clear1"></div>
</div>


<div style="height:80px;"></div>
</body>
<script type="text/javascript" src="/_api/js/common/area2.js"></script>
<script type="text/javascript">
    $(function () {
        var address = $("#address").val().split(",");
        var addr = showProvince(address[0], address[1], address[2]);
        $("#area").html(addr.substr(addr.lastIndexOf("/") + 1));
        $("#address2").html(addr.replace("/", "") + " : " + address[3]);
    });

</script>
</html>
