<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>[[${userDetail.name}]]师傅</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="/_api/css/CSS.css" type="text/css"/>
    <link rel="stylesheet" href="/_api/css/swiper.min.css" type="text/css"/>
    <link rel="stylesheet" href="/_api/css/iconfont.css">
    <script type="text/javascript" src="/_api/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/_api/js/swiper.min.js"></script>
</head>
<script type="text/javascript">


    /**
     *  根据技能找师傅
     * @param btn
     */
    function goList(btn) {
        var skill = $(btn).attr("skill");
        alert(skill);
        location.href = "/_api/goSFList?skills=" + skill;
    }

    function delInfo(id) {
        if (window.confirm("确定要删除吗")) {
            $.getJSON("/_api/delDynamic", {"id": id}, function (res) {
                if (res) {
                    search();
                }
            })
        }
    }
</script>
<body>
<div class="sf_info">
    <!-- 师傅ID -->
    <input type="hidden" th:value="${userDetail.id}" id="id"/>
    <input type="hidden" th:value="${flag}" id="flag"/>
    <p class="headimg"><img src="images/headimg.jpg" id="headPic" th:src="${user.headPic}" class="br50"></p>
    <p class="sfname" th:text="${userDetail.name}"></p>
    <p>
        <label th:if="${userDetail.lineStatus == 1}"><i class="iconfont icon-time"></i> 正在接单</label>
        <label th:if="${userDetail.lineStatus == 0}"><i class="iconfont icon-time"></i> 已停止接单</label>
        <label id="area"><i class="iconfont icon-coordinates"></i></label>
        <label><i class="iconfont icon-success"></i> 实名认证</label>
    </p>
</div>

<div class="clear1"></div>

<div class="jbxx">
    <p th:text="'从业年限：' + ${userDetail.userYearWork.yearName}"></p>
    <p>专业特长：<a th:each="skill : ${skills}" href="javascript:void(0);"><label th:attr="skill=${skill.id}"
                                                                             onclick="goList(this)">[[${skill.skillName}]]</label></a>
    </p>
    <input type="hidden" id="address"
           th:value="${userDetail.placeProvince}+','+${userDetail.placeCity}+','+${userDetail.placeArea}+','+${userDetail.address}"/>
    <p id="address2">所在位置：</p>
    <p>手机号码：<a th:href="'tel:'+${user.phone}"><label>[[${user.phone}]]</label></a></p>
</div>
<div class="clear1"></div>
<div class="gybtn" th:if="${flag == '1'}"><a href="/_api/goMyDynamic">发布动态</a></div>
<div class="gybtn" th:if="${flag == '2'}"><a th:href="@{/zsf/goZsfView(id=${userDetail.id})}">直接雇佣TA</a></div>

<div class="clear1"></div>
<div class="dttitle">[[${userDetail.name}]]的动态</div>


<div id="infos">

</div>


<div style="height:80px;"></div>
</body>
<script type="text/javascript" src="/_api/js/common/area2.js"></script>
<script type="text/javascript">
    $(function () {
        var address = $("#address").val().split(",");
        var addr = showProvince(address[0], address[1], address[2]);
        $("#area").html(addr.substr(addr.lastIndexOf("/") + 1));
        $("#address2").html(addr.replace(new RegExp('/', 'gm'), "") + " : " + address[3]);

        search();
    });

    function search() {
        var id = $("#id").val();
        var headPic = $("#headPic").attr("src");
        var flag = $("#flag").val();
        $.getJSON("/_api/searchSfInfo", {"id": id}, function (infos) {
            $("#infos").html("");
            for (var i = 0; i < infos.length; i++) {
                var infoImgs = '';
                if (infos[i].images != null && infos[i].images != '') {
                    var imgs = infos[i].images.split(',');
                    for (var j = 0; j < imgs.length; j++) {
                        infoImgs += "<li><img src=\"" + imgs[j] + "\"></li>";
                    }
                }
                alert(infoImgs);
                var delBtn = flag == '1' ? "<span><a onclick='delInfo(" + infos[i].id + ")' href=\"javascript:void(0);\">删除</a></span>" : "";
                $("#infos").append("" +
                    "<div class=\"tdshow\">\n" +
                    "        <p>\n" +
                    "            <em><img src=\"" + headPic + "\" width=30 height=30 class=\"br50\"></em>\n" +
                    "            <label>" + infos[i].createDate + "</label>\n" +
                    delBtn +
                    "        </p>\n" +
                    "        <p>" + infos[i].content + "</p>\n" +
                    "        <div class=\"dt_img\">\n" +
                    "            <ul>\n" +
                    infoImgs +
                    "            </ul>\n" +
                    "        </div>\n" +
                    "</div>\n" +
                    "<div class=\"clear1\"></div>")
            }
        })
    }

</script>
</html>
