<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace:映射命名空间-->
<mapper namespace="cn.hsf.hsf.mapper.back.BackStatusMapper">

    <!-- BackStatus selById(int id); -->
    <select id="selById" resultType="cn.hsf.hsf.pojo.back.BackStatus">
        SELECT `id`, `backStatusName` FROM `tb_back_status` WHERE id = #{id}
    </select>


</mapper>