<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace:映射命名空间-->
<mapper namespace="cn.hsf.hsf.mapper.user.DistributionMapper">

    <select id="selStatusById" resultType="cn.hsf.hsf.pojo.user.DistributionStatus">
        SELECT `id`, `statusName` FROM `tb_distribution_status` WHERE id = #{id}
    </select>
    <resultMap id="selOrderStatus" type="cn.hsf.hsf.pojo.user.Distribution">
        <id property="id" column="id"/>
        <result property="statusId" column="statusId"/>
        <result property="releaseId" column="releaseId"/>
        <result property="orderId" column="orderId"/>
        <association property="status" column="statusId" select="cn.hsf.hsf.mapper.user.DistributionMapper.selStatusById"/>
        <association property="userRelease" column="releaseId" select="cn.hsf.hsf.mapper.user.UserReleaseMapper.selReleaseById"/>
        <association property="userOrder" column="orderId" select="cn.hsf.hsf.mapper.user.UserOrderMapper.selById"/>
    </resultMap>

    <select id="selAllOrderBySfId" resultMap="selOrderStatus">
        SELECT `id`, `releaseId`, `statusId`, `refusedMessage`, `createTime`, `updateTime`, `sfId`, `orderId`
        FROM `tb_distribution`
        WHERE `sfId` = #{sfId}
    </select>

    <select id="selOrderById" resultMap="selOrderStatus">
        SELECT `id`, `releaseId`, `statusId`, `refusedMessage`, `createTime`, `updateTime`, `sfId`, `orderId`
        FROM `tb_distribution`
        WHERE `id` = #{id}
    </select>

<!--    Distribution selReleaseById(Integer releaseId); -->
    <select id="selReleaseById" resultType="int">
        SELECT COUNT(1)
        FROM `tb_distribution`
        WHERE `releaseId` = #{releaseId} AND (statusId = 2 OR statusId = 4 OR statusId = 6)
    </select>

    <!--     int updDistribution(Distribution distribution); -->
    <update id="updDistribution">
        UPDATE `tb_distribution`
        <set>
            <if test="dis.statusId != null and dis.statusId != ''">
                statusId = #{dis.statusId},
            </if>
            <if test="dis.refusedMessage != null and dis.refusedMessage != ''">
                refusedMessage = #{dis.refusedMessage},
            </if>
            <if test="dis.orderId != null and dis.orderId != ''">
                orderId = #{dis.orderId},
            </if>
            updateTime = NOW()
        </set>
        <where>
             statusId = #{oldStatus}
            <if test="dis.id != null and dis.id != ''">
                and id = #{dis.id}
            </if>
            <if test="dis.releaseId != null and dis.releaseId != ''">
                and releaseId = #{dis.releaseId}
            </if>
        </where>
    </update>

    <!--   Distribution sel(UserRelease userRelease); -->
<!--    <select id="sel" resultType="cn.hsf.hsf.pojo.user.Distribution">-->
    <select id="sel" resultMap="selOrderStatus">
        SELECT `id`, `releaseId`, `statusId`, `refusedMessage`, `createTime`, `updateTime`, `sfId`, `orderId`
        FROM `tb_distribution`
        WHERE releaseId = #{id} AND sfId = #{receiveId}
    </select>

    <!--     int insOrder(Distribution distribution); -->
    <insert id="insOrder" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `tb_distribution`(`id`, `releaseId`, `statusId`, `createTime`, `sfId`)
        VALUES(DEFAULT, #{releaseId}, #{statusId}, NOW(), #{sfId})
    </insert>

</mapper>