<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace:映射命名空间-->
<mapper namespace="cn.hsf.hsf.mapper.user.UserInformationMapper">

    <!-- int insInfomation(UserInformation userInformation); -->
    <insert id="insInfomation">
        INSERT INTO `tb_user_information`(`id`, `openId`, `content`, `images`, `lookTotal`, `createDate`)
        VALUES(DEFAULT, #{openId}, #{content}, #{images}, 0, NOW())
    </insert>

    <!--  List<UserInformation> selByOpenId(String openId); -->
    <select id="selByOpenId" resultType="cn.hsf.hsf.pojo.user.UserInformation">
        SELECT `id`, `openId`, `content`, `images`, `lookTotal`, `createDate`
        FROM `tb_user_information`
        WHERE openId = #{openId}
    </select>

</mapper>