<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace:映射命名空间-->
<mapper namespace="cn.hsf.hsf.mapper.user.UserReleaseMapper">

    <insert id="insertUserRelease" parameterType="cn.hsf.hsf.pojo.user.UserRelease">
        insert into `tb_user_release`(`title`,`nickName`,`phone`,`serviceProvince`,`serviceCity`,`serviceArea`,`serverDetail`,`appointTime`,`demand`,`createDate`,`state`,`receiveId`,`userId`)
        values(#{title},#{nickName},#{phone},#{serviceProvince},#{serviceCity},#{serviceArea},#{serverDetail},#{appointTime},#{demand},now(),0,#{receiveId},#{userId})
    </insert>

    <select id="selReleaseById" resultType="cn.hsf.hsf.pojo.user.UserRelease">
        select *
        from tb_user_release
        where id = #{id}
    </select>

    <!--     int updUserRelease(UserRelease userRelease); -->
    <update id="updUserRelease" >
        UPDATE `tb_user_release`
        SET `state` = #{state}, `receiveId` = #{receiveId}
        WHERE `id` = #{id} AND state = 1
    </update>

</mapper>