<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace:映射命名空间-->
<mapper namespace="cn.hsf.hsf.mapper.user.UserSkillMapper">

    <!--  List<UserSkill> selAll(); -->
    <select id="selAll" resultType="cn.hsf.hsf.pojo.user.UserSkills">
        SELECT `id`, `skillName`, `parentId`, `describes` FROM `tb_user_skills`
    </select>

    <!--   List<UserSkills> selByParentId(Integer id);-->
    <select id="selByParentId" resultType="cn.hsf.hsf.pojo.user.UserSkills">
        SELECT `id`, `skillName`, `parentId`, `describes` FROM `tb_user_skills`
        <where>
            <if test="parentId != null and parentId !=''">
                parentId = #{id}
            </if>
            <if test="parentId == null">
                parentId is null
            </if>
        </where>
    </select>

    <select id="selById" resultType="cn.hsf.hsf.pojo.user.UserSkills">
        SELECT `id`, `skillName`, `parentId`, `describes` FROM `tb_user_skills`
        <foreach item="id" index="index" collection="ids"
                 open="WHERE id in (" separator="," close=")">
            #{id}
        </foreach>
    </select>


</mapper>