<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace:映射命名空间-->
<mapper namespace="cn.hsf.hsf.mapper.user.UserYearWorkMapper">


    <select id="selYearById" resultType="cn.hsf.hsf.pojo.user.UserYearWork">
        SELECT `id`, `yearName` FROM `tb_user_year_work` WHERE id = #{id}
    </select>



</mapper>